<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="language">
          <ul>
            <li (click)="drop('language')">
              English <i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id === 'language'">
                <ul>
                  <li>English</li>
                  <li>French</li>
                </ul>
              </div>
            </li>
            <li (click)="drop('currency')">
              USD <i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id === 'currency'">
                <ul>
                  <li>USD</li>
                  <li>EUR</li>
                  <li>GBP</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 text-right alng-right">
        <div class="social-menu mrg-pd-0">
          <ul>
            <li>
              <a href="javascript.void(0)">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="javascript.void(0)">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="javascript.void(0)">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="javascript.void(0)">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="javascript.void(0)" class="login">
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="banner">
  <owl-carousel-o [options]="bannerSlider">
    <ng-template carouselSlide>
      <img src="../assets/banner/ban2.png" alt="">
    </ng-template>  
    <ng-template carouselSlide><img src="../assets/banner/banner1.png" alt=""></ng-template>  
    <ng-template carouselSlide><img src="../assets/banner/banner2.png" alt=""></ng-template> 
    <ng-template carouselSlide><img src="../assets/banner/ban3.jpg" alt=""></ng-template>  
    <ng-template carouselSlide><img src="../assets/banner/banner4.png" alt=""></ng-template>   
  </owl-carousel-o>
</section>

<div class="best-selling">
  <div class="container">
    <div class="best-selling-containers">
      <div class="sale-price">
        Sale <strong>14%</strong>
      </div>
      <div class="selling-col-1 sell-cols-dis">
        <div class="selling-left">
          <ul>
            <li>
              <span class="count-date">{{days}}</span>
              <span class="count-day">Days</span>
            </li>
            <li>
              <span class="count-date">{{hours}}</span>
              <span class="count-day">Hours</span>
            </li>
            <li>
              <span class="count-date">{{minutes}}</span>
              <span class="count-day">Mins</span>
            </li>
            <li>
              <span class="count-date">{{secs}}</span>
              <span class="count-day">Secs</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="selling-col-2 sell-cols-dis">  
        <div class="selling-img">
          <img src="../assets/img/best-selling1.jpg" alt="best-selling">
        </div>
      </div>
      <div class="selling-col-3 sell-cols-dis">
        <div class="selling-heading">
          <a href="javascript:void(0)">Victor Emmanuel</a>
          <div class="selling-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <p> {{content | custompipe}} 
        </p>
        <h3>
          <span class="selling-amount">$230.00</span>
          <span class="selling-discount">$202.00</span>
        </h3>
        <div class="selling-button">
          <a href="javascript:void(0)" class="cart-btn"> <i class="fa fa-shopping-cart"></i>Add to Cart</a>
          <button class="main-button">
            <a href="javascript:void(0)"><i class="fa fa-heart"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="testimonial">
  <div class="containers">
    <owl-carousel-o [options]="testimonialSlider">
      <ng-template carouselSlide>
        <div class="testimonial-image">
          <img src="../assets/testimonial/policy1.png" alt="">
        </div>
        <div class="testimonial-content text-center">
          <h2>Victor</h2>
          <h3>Web Designer</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cumque, distinctio rem eum iusto doloribus, inventore perspiciatis explicabo excepturi nobis odio ullam sit?</p>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="testimonial-image">
          <img src="../assets/testimonial/policy2.png" alt="">
        </div>
        <div class="testimonial-content text-center">
          <h2>Timothy</h2>
          <h3>Content Creator</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cumque, distinctio rem eum iusto doloribus, inventore perspiciatis explicabo excepturi nobis odio ullam sit?</p>
        </div>
      </ng-template>   
      <ng-template carouselSlide>
      <div class="testimonial-image">
        <img src="../assets/testimonial/policy3.png" alt="">
      </div>
      <div class="testimonial-content text-center">
        <h2>Audrey</h2>
        <h3>Copywriter</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cumque, distinctio rem eum iusto doloribus, inventore perspiciatis explicabo excepturi nobis odio ullam sit?</p>
      </div>
      </ng-template> 
      <ng-template carouselSlide>
        <div class="testimonial-image">
          <img src="../assets/testimonial/policy3.png" alt="">
        </div>
        <div class="testimonial-content text-center">
          <h2>Audrey</h2>
          <h3>Copywriter</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cumque, distinctio rem eum iusto doloribus, inventore perspiciatis explicabo excepturi nobis odio ullam sit?</p>
        </div>
        </ng-template> 
        <ng-template carouselSlide>
          <div class="testimonial-image">
            <img src="../assets/testimonial/policy3.png" alt="">
          </div>
          <div class="testimonial-content text-center">
            <h2>Audrey</h2>
            <h3>Copywriter</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cumque, distinctio rem eum iusto doloribus, inventore perspiciatis explicabo excepturi nobis odio ullam sit?</p>
          </div>
          </ng-template>  
    </owl-carousel-o>
  </div>
</section>

<section class="bg-color">
    <div class="containers">
      <div class="title">
        <p>The Best Seller Of Products</p>
        <h1><span>Best</span> Seller</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">9%</div>
              <div class="label label-green">Pre-Order</div>
              <div class="product-container">
                <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img/PS-Prd1.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img/PS-Prd2.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img/PS-Prd3.jpg" alt="Product1"></div>
              </div>
              <div class="image">
                <img src="{{url}}" alt="Image">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li><a href=""><i class= "fa fa-shopping-basket"></i></a></li>
                  <li><a href=""><i class= "fa fa-heart"></i></a></li>
                  <li><a href=""><i class= "fa fa-search"></i></a></li>
                </ul>
              </div>
            </div>
            
            <div class="content">
              <a href="">Incidid Bae Tok</a>
              <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p><span class="money">$81.00</span>
              <span class="old-price">$80.00</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">8%</div>
              <div class="label label-green">Pre-Order</div>
              <div class="product-container">
                <div class="p" (mouseover)="changeImage1($event)"><img src="../assets/img/PS-Prd1.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage1($event)"><img src="../assets/img/PS-Prd2.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage1($event)"><img src="../assets/img/PS-Prd3.jpg" alt="Product1"></div>
              </div>
              <div class="image">
                <img src="{{urlfirst}}" alt="Image">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li><a href=""><i class= "fa fa-shopping-basket"></i></a></li>
                  <li><a href=""><i class= "fa fa-heart"></i></a></li>
                  <li><a href=""><i class= "fa fa-search"></i></a></li>
                </ul>
              </div>
            </div>
            
            <div class="content">
              <a href="">Incidid Bae Tok</a>
              <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p><span class="money">$91.00</span>
              <span class="old-price">$101.00</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">12%</div>
              <div class="label label-green">Pre-Order</div>
              <div class="product-container">
                <div class="p" (mouseover)="changeImage2($event)"><img src="../assets/img/PS-Prd1.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage2($event)"><img src="../assets/img/PS-Prd2.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage2($event)"><img src="../assets/img/PS-Prd3.jpg" alt="Product1"></div>
              </div>
              <div class="image">
                <img src="{{urlsec}}" alt="Image">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li><a href=""><i class= "fa fa-shopping-basket"></i></a></li>
                  <li><a href=""><i class= "fa fa-heart"></i></a></li>
                  <li><a href=""><i class= "fa fa-search"></i></a></li>
                </ul>
              </div>
            </div>
            
            <div class="content">
              <a href="">Incidid Bae Tok</a>
              <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p><span class="money">$51.00</span>
              <span class="old-price">$70.00</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">15%</div>
              <div class="label label-green">Pre-Order</div>
              <div class="product-container">
                <div class="p" (mouseover)="changeImage3($event)"><img src="../assets/img/PS-Prd1.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage3($event)"><img src="../assets/img/PS-Prd2.jpg" alt="Product1"></div>
                <div class="p" (mouseover)="changeImage3($event)"><img src="../assets/img/PS-Prd4.jpg" alt="Product1"></div>
              </div>
              <div class="image">
                <img src="{{urlfourth}}" alt="Image">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li><a href=""><i class= "fa fa-shopping-basket"></i></a></li>
                  <li><a href=""><i class= "fa fa-heart"></i></a></li>
                  <li><a href=""><i class= "fa fa-search"></i></a></li>
                </ul>
              </div>
            </div>
            
            <div class="content">
              <a href="">Incidid Bae Tok</a>
              <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p><span class="money">$101.00</span>
              <span class="old-price">$160.00</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="policy">
  <div class="containers text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
          <h2>Free Shipping &amp; Return</h2>
          <p>Free shipping on all UK</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-refresh"></i>
            </div>
          </div>
          <h2>Money Back Gaurantee</h2>
          <p>30 days money back Gaurantee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-phone"></i>
            </div>
          </div>
          <h2>Online Support 24/24</h2>
          <p>We support online 24/24</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="policy-product">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/img/Product2.jpg" alt="">
          </div>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus!</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, exercitationem dolor pariatur unde aliquid obcaecati ex non qui rerum officiis in alias ab voluptatibus similique, reiciendis delectus asperiores soluta atque.</p>
          <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>26</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/img/Product3.jpg" alt="">
          </div>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus!</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, exercitationem dolor pariatur unde aliquid obcaecati ex non qui rerum officiis in alias ab voluptatibus similique, reiciendis delectus asperiores soluta atque.</p>
          <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>27</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/img/Product4.jpg" alt="">
          </div>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus!</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, exercitationem dolor pariatur unde aliquid obcaecati ex non qui rerum officiis in alias ab voluptatibus similique, reiciendis delectus asperiores soluta atque.</p>
          <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="partners">
  <div class="containers">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let partner of partnersArray"><img src="{{partner.imgName}}" alt=""></ng-template>  
        
    </owl-carousel-o>
  </div>
</div>

<section class="footer-top">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="../assets/img/logo-gama.png" alt="">
        </div>
        <div class="footer-top-menu">
          <ul class="mrg-pd-0">
            <li>
              <i class="fa fa-home"></i> 
              <span class="heading">Address:</span>
              <span class="address">120 Ogun Tech Hub, Nigeria</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us:</span>
              <span class="email">
                <a href="mailto:example@gmail.com">example@gmail.com</a>
              </span>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone:</span>
              <span class="number">
                <a href="tel:1-888-345-6799">1-888-345-6799</a>
              </span>
            </li>
            <li>
              <a href="">
                <img src="" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>My Account</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Information</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Order History</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">My Wishlist</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Privacy Policy</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Site Map</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>Information</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Cart</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Product Setup</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">PC Setup & Support</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Services</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Extended Beyond Plans</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        
          <div class="footer-all-menu">
            <h2>Our Services</h2>
            <ul>
              <li>
                <i class="fa fa-circle"></i>
                <a href="">About</a>
              </li>
              <li>
                <i class="fa fa-circle"></i>
                <a href="">Shopping Guide</a>
              </li>
              <li>
                <i class="fa fa-circle"></i>
                <a href="">Store Location</a>
              </li>
              <li>
                <i class="fa fa-circle"></i>
                <a href="">Affiliates</a>
              </li>
              <li>
                <i class="fa fa-circle"></i>
                <a href="">Customer Point Policy</a>
              </li>
            </ul>
          </div>
  
      </div>

    </div>
  </div>
</section>


<section class="footer-middle">
  <div class="containers">
   <div class="row">
    <div class="col-md-4">
      <h2>Sign up for our exclusive Newsletters</h2>
    </div>
    <div class="col-md-4">
      <input type="mail" class="input" placeholder="Email">
      <button class="btn"><i class="fa fa-location-arrow"></i></button>
    </div>
    <div class="col-md-4">
      <div class="social text-center">
        <ul class="mrg-pd-0">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-pinterest"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
   </div>
  </div>
</section>


<footer>
  <div class="containers text-center">
    <p class="mrg-pd-0">@2022 Designed by <a href=""> Lawaniv12</a>  All Rights Reserved</p>
  </div>
</footer>

